<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_NoBots>
			<version>1.5.2.1</version>
		</Fishpig_NoBots>
	</modules>
	<global>
		<blocks>
			<nobots>
				<class>Fishpig_NoBots_Block</class>
			</nobots>
		</blocks>
		<helpers>
			<nobots>
				<class>Fishpig_NoBots_Helper</class>
			</nobots>
		</helpers>
		<models>
			<nobots>
				<class>Fishpig_NoBots_Model</class>
				<resourceModel>nobots_resource</resourceModel>
			</nobots>
			<nobots_resource>
				<class>Fishpig_NoBots_Model_Resource</class>
				<entities>
					<bot><table>nobots_bot</table></bot>
					<bot_activity><table>nobots_bot_activity</table></bot_activity>
				</entities>
			</nobots_resource>
		</models>
		<resources>
			<nobots_setup>
				<setup>
					<module>Fishpig_NoBots</module>
				</setup>
			</nobots_setup>
		</resources>
		<events>
			<controller_front_init_routers>
				<observers>
					<nobots>
						<class>Fishpig_NoBots_Controller_Router</class>
						<method>initControllerRouters</method>
					</nobots>
				</observers>
			</controller_front_init_routers>
		</events>
	</global>
	<frontend>
		<layout>
			<updates>
				<nobots>
					<file>nobots.xml</file>
				</nobots>
			</updates>
		</layout>
		<events>
			<controller_front_send_response_before>
				<observers>
					<nobots>
						<type>singleton</type>
						<class>nobots/observer</class>
						<method>injectNobotsLinksObserver</method>
					</nobots>
				</observers>
			</controller_front_send_response_before>
			<controller_action_predispatch>
				<observers>
					<nobots>
						<type>singleton</type>
						<class>nobots/observer</class>
						<method>rejectNaughtyBotsObserver</method>
					</nobots>
					<nobots_email_protect>
						<type>singleton</type>
						<class>nobots/observer</class>
						<method>blockBadEmailDomainObserver</method>
					</nobots_email_protect>
					<!--
					<nobots_form_secret_field_check>
						<type>singleton</type>
						<class>nobots/observer</class>
						<method>checkForSecretFormFieldObserver</method>
					</nobots_form_secret_field_check>
					-->
				</observers>
			</controller_action_predispatch>
		</events>
		<routers>
			<nobots>
				<use>standard</use>
				<args>
					<module>Fishpig_NoBots</module>
					<frontName>human</frontName>
				</args>
			</nobots>
		</routers>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<nobots before="Mage_Adminhtml">Fishpig_NoBots_Adminhtml</nobots>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<nobots>
					<file>nobots.xml</file>
				</nobots>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<nobots>
			<settings>
				<enabled>1</enabled>
				<enable_global>1</enable_global>
				<modules>*</modules>
			</settings>
			<form_protection>
				<enabled>1</enabled>
				<form_ids><![CDATA[contactForm
pollForm
product_addtocart_form
review-form
login-form
search_mini_form
newsletter-validate-detail
form-validate
]]></form_ids>
				<blocked_email_domains>@qq.com
</blocked_email_domains>
<blocked_url_fields><![CDATA[firstname
lastname
email
nickname
]]></blocked_url_fields>
				<!--<form_secret_field>1</form_secret_field>-->
			</form_protection>
		</nobots>
	</default>
</config>